$navbar-bg-color: black;
$navbar-text-color: #ffffff;
$navbar-hover-color: #ba0b0a;
$navbar-shadow-color: rgba(0, 0, 0, 0.1);
$footer-bg-color: #343a40;
$footer-text-color: #fff;
$body-bg-color: black;